nav {
    position: relative; /* Ensure the nav is positioned relative to the logo */
    z-index: 1; /* Position it above other elements initially */
}


.logo-container img {
    width: 230px;
    height: auto; /* Ensure the height adjusts proportionally */
}

@media (max-width: 768px) {
    .logo-container {
        top: 5px; /* Adjust as needed for smaller screens */
    }

    .logo-container img {
        width: 180px; /* Smaller size for smaller screens */
    }
}
