body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

#cart {
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

main {
    padding: 20px;
    display: flex;
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.add-to-cart {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #218838;
}

footer {
    background-color: #34495e;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#payment {
    margin-top: 20px;
}

#payment-form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    /* width: 100%; */
    padding: 8px;
    margin-top: 5px;
}

button[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #218838;
}
